{% extends 'base.html.twig' %}

{% block title %}Downhole equipment - Our Supplies & Services{% endblock %}

{% block body %}
    <div class="sections" style="background-image: url('{{asset('assets/img/4kback.jpg')}}')">
        <div class="container">
            <div class="pages-title">
                <h1>Al Esnad Al Fani <br> <span>Downhole equipment</span></h1>
                <p><a href="{{path('home')}}">Home</a>&nbsp; > &nbsp; <a href="{{path('spare_parts')}}">Our Supplies & Services</a> &nbsp; > &nbsp; <a href="{{path('downhole_equipement')}}">Downhole equipment</a></p>
            </div>
        </div>  
    </div>
<!-- CONTENT START -->
    <section>
        <!-- TEAM START -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/quartz_electronic.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Quartz electronic memory gauges</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4 tp-movil-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/peizo_electronic.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Peizo  electronic memory gauges</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4 tp-tablet-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/bottomwhole.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Bottom hole samplers</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/slickline_tools.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Slickline tools</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/blacking_plugs.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Slickline blanking plugs</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/instrument_langers.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Slickline instrument hangers</h3>
                        </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/retrieval_packers.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Downhole retrievable packers</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/retrivable_bridge.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Downhole retrievable bridge plugs</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/cement_retainer.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Cement retainers & bridge plugs</h3>
                        </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/production_packers.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Production Packers</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/dual_string.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Dual string packers</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/downhole/openhole_packers.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Open hole packers</h3>
                        </div>
                    </div>
                 </div>
              </div>
            </div>
        </div>
        <!-- TEAM START -->
    </section> 
    <!-- CONTENT START -->

{% endblock %}
