{% extends 'base.html.twig' %}

{% block title %}Fitting & Pipe Supplies - Our Supplies & Services{% endblock %}

{% block body %}
<div class="sections" style="background-image: url('{{asset('assets/img/4kback.jpg')}}')">
    <div class="container">
        <div class="pages-title">
            <h1>Al Esnad Al Fani <br> <span>Fitting & Pipe Supplies</span></h1>
            <p><a href="{{path('home')}}">Home</a> &nbsp; > &nbsp; <a href="{{path('spare_parts')}}"> Our Supplies & Services</a> &nbsp; > &nbsp; <a href="{{path('fitting_pipe_supplies')}}"> Fitting & Pipe Supplies</a></p>
        </div>
    </div>
</div>
<!-- CONTENT START -->
<section>
    <!-- TEAM START -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/needle_value.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>needle valves NPT 316SS</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 tp-movil-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/ball_value.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>ball valves NPT 316SS</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 tp-tablet-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/butterfly.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Butter fly valves</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/gate_value.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Gate valves</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/pipe_fittings.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Pipe fittings NPT 316SS</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/seamless_316ss.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Seamless liners 316SS</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/seamless_wn.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Seamless steal pipe WN ended</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/pipe_adapters.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Pipe adapters</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/tees_cross.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Tee’s cross’s WN ended</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/polyflex_hoses.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>polyflex hoses</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/jic_fittings.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>JIC fittings</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/bsp_fittings.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>BSP fittings</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/quick_connectors.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Quick connectors</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/fitting_pipe/air_supply.png')}}" alt=""></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Air supply connector</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TEAM START -->
</section>
<!-- CONTENT START -->

{% endblock %}