{% extends 'base.html.twig' %}

{% block title %}Instrument Supplies - Our Supplies & Services{% endblock %}

{% block body %}
<div class="sections" style="background-image: url('{{asset('assets/img/4kback.jpg')}}')">
    <div class="container">
        <div class="pages-title">
            <h1>Al Esnad Ali Fani <br> <span>Instrument Supplies</span></h1>
            <p><a href="{{path('home')}}">Home</a> &nbsp; > &nbsp; <a href="{{path('spare_parts')}}">Our Supplies & Services</a> &nbsp; > &nbsp; <a href="#">Instrument Supplies</a> </p>
        </div>
    </div>
</div>
<!-- CONTENT START -->
<section>
    <!-- TEAM START -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/portable_gas_gravitometer.png')}}" alt="Portable Gas Gravitometer Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Portable Gas Gravitometer</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 tp-movil-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/portable_dead_weight_tester.png')}}" alt="Portable Dead Weight Tester Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Portable Dead Weight Tester</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 tp-tablet-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/portable_pressure_chart_recorder.png')}}" alt="Portable pressure chart recorder Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Portable pressure chart recorder</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/electrical_air_driven_centrifuges.png')}}" alt="Electrical & Air driven centrifuges Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Electrical & Air driven centrifuges</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/salinity_refactometer.png')}}" alt="Salinity Refractometer Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Salinity Refractometer</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/astm_spesific_gravity_hydrometers.png')}}" alt="ASTM Specific Gravity hydrometers Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>ASTM Specific Gravity hydrometers</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/dial_pressure_gauges.png')}}" alt="Dial pressure gauges Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Dial pressure gauges</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/bi_metallic_thermometers.png')}}" alt="Bi-Metallic thermometers Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Bi-Metallic thermometers</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/astm_spirit_thermometers.png')}}" alt="ASTM spirit thermometers Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>ASTM spirit thermometers</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/pipe_thickness_tester.png')}}" alt="Pipe thickness tester Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Pipe thickness tester</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/ph_meter.png')}}" alt="PH meters Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>PH meters</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/echo_meter.png')}}" alt="Echo meter Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Echo meter</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/instrument/dynamometer.png')}}" alt="Dycometer Image"></figure>
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Dynamometer</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TEAM START -->
</section>
<!-- CONTENT START -->

{% endblock %}