{% extends 'base.html.twig' %}

{% block title %}Elestomers supplies - Our Supplies & Services{% endblock %}

{% block body %}
    <div class="sections" style="background-image: url('{{asset('assets/img/4kback.jpg')}}')">
        <div class="container">
            <div class="pages-title">
                <h1>Al Esnad Al Fani <br> <span>Elestomers supplies</span></h1>
                <p><a href="{{path('home')}}">Home</a> &nbsp; > &nbsp; <a href="{{path('spare_parts')}}">Our Supplies & Services</a> &nbsp; > &nbsp; <a href="{{path('elestomers_supplies')}}">Elestomers supplies</a></p>
            </div>
        </div>  
    </div>
<!-- CONTENT START -->
    <section>
        <!-- TEAM START -->
        <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/swabbing_cups.png')}}" alt="Swabbing cups Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Swabbing cups</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4 tp-movil-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/wireline_oil_saver.png')}}" alt="Wireline oil saver Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Wireline oil saver</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4 tp-tablet-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/pipe_wiper.png')}}" alt="Pipe wiper Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Pipe wiper</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/slickline_packing.png')}}" alt="Slickline packing Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Slickline packing</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/v-packings.png')}}" alt="V-Packings Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>V-Packings</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/nitril_o_rings.png')}}" alt="Nitril O-rings Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Nitril O-rings</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/viton_o_rings.png')}}" alt="Viton O-rings Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Viton O-rings</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/aflas_o_rings.png')}}" alt="Aflas O-rings Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Aflas O-rings</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/nitril_weco_lip_seals.png')}}" alt="Nitril WECO lip seals Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Nitril WECO lip seals</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/viton_wico_lip.png')}}" alt="Viton WECO lip seals Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Viton WECO lip seals</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/aflas_weco.png')}}" alt="Aflas WECO lip seals Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Aflas WECO lip seals</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/elestromers/packers.png')}}" alt="Packers Elements Image"></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Packers Elements</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
            </div>
        </div>
        <!-- TEAM START -->
    </section> 
    <!-- CONTENT START -->

{% endblock %}
