{% extends 'base.html.twig' %}

{% block title %}Rental Services - Our Supplies & Services{% endblock %}

{% block body %}
    <div class="sections" style="background-image: url('{{asset('assets/img/4kback.jpg')}}')">
        <div class="container">
            <div class="pages-title">
                <h1>Al Esnad Al Fani <br> <span>Rental Services</span></h1>
                <p><a href="{{path('home')}}">Home</a> &nbsp; > &nbsp; <a href="{{path('spare_parts')}}">Our Supplies & Services</a>&nbsp; > &nbsp; <a href="{{path('rental_services')}}">Rental Services</a></p>
            </div>
        </div>  
    </div>
<!-- CONTENT START -->
    <section>
        <!-- TEAM START -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/electronic_memory.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Electronic memory gauges</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4 tp-movil-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/slickline_units.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Slickline units</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4 tp-tablet-view">
                <div class="team-portrait">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/surface_bottom_hole.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Surface and bottom hole sampling equipment</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/tanks_100.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Gauges tanks 100 BBL</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/tanks_500.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Frac tanks 500 BBL</h3>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/air_compressors.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Air compressors</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/power_generator.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Power generators</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/diverter_manyfolds.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Diverter manifolds</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/well_test.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Well test tree</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/choke_manifold.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Choke manifold</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/flow_pump.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Flow pumps</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/injection_skids.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Chemical injection skids</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="team-portrait tp-desktop-view">
                    <figure class="tp-headshot"><img src="{{asset('assets/img/spare/services/mobile_office.png')}}" alt=""></figure> 
                    <div class="tp-caption">
                        <div class="inner-tp-caption">
                            <h3>Mobile offices, std & zone rated</h3>
                            
                        </div>
                    </div>
                 </div>
              </div>
            </div>
        </div>
        <!-- TEAM START -->
    </section> 
    <!-- CONTENT START -->

{% endblock %}
